.container {
  width: 350px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23252C;
  height: calc(100vh - 20px);
}

@media (min-width: 500px) {
  .container {
    width: 490px;
  }
}